.authentication__header {
    color: white;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto !important;
    text-align: center;
    padding: 1rem;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }