.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    /*max-width: 40rem;*/
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }

  .new-place__form {
    margin-top: 100px;
    max-width: 50rem;
  }
  
  .place-item__image {
    width: 100%;
    height: 20rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
  }
  .place-item__radio {
    width: 100%;
    height: 5rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
  }